@font-face {
    font-family: cursor;
    src: url("../fonts/Cursor_font-Regular.ttf?v2");
}

:root {
    --mainTheme: rgb(25,25,25);
    --secondaryTheme: rgb(35,35,35);
    --bodyTheme: rgb(45,45,45);
    --languageBoxTheme: rgba(15,15,15,0.8);
    --textColour: white;
    --feintTextColour: grey;

    --projectTheme: rgb(35,35,35);
    --projectEvenTheme: rgb(30,35,35);
    --projectHover: aqua;
    --projectHoverBackground: rgba(0,255,255,0.2);

    --pageButtonTheme: linear-gradient(90deg, rgb(52,51,53), rgb(64,63,66));
    --pageButtonThemeHover: aqua;
    --pageButtonThemeHoverBackground: rgba(0,255,255,0.2);
    --pageButtonThemeBoxShadow: 5px 5px 10px black;

    --primaryButtonTheme: rgb(52,52,52);
    --primaryButtonBorderTheme: rgb(38,38,38);

    --font: Arial, Helvetica, sans-serif
}

body {
    background: var(--bodyTheme);
    color: var(--textColour);
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: var(--font);
    transition: 0.5s ease-in-out background-color;
}

.profile {
    display: block;
    margin: auto;
    height: 150px;
    background-color: var(--mainTheme);
    width: 60%;
    margin-top: 15px;
    padding: 12px;
    border-radius: 12px;
    transition: 0.5s ease-in-out background-color;
}
.profile img {
    display: inline-block;
    /* border-radius: 50%; */
    border-radius: 12px;
    height: 100%;
}
.profile .content {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}

.profile .content .age .birthdate {
    color: var(--feintTextColour);
    font-size: 12px;
    vertical-align: bottom;
}

.projects {
    display: block;
    position: relative;
    margin: auto;
    height: 60vh;
    background-color: var(--mainTheme);
    width: 80%;
    border-radius: 12px;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0 18px;
    transition: 0.5s ease-in-out background-color;
}
.projects h1, .projects .desc {
    text-align: center;
}

.projects .project {
    display: block;
    margin: auto;
    position: relative;
    width: 95%;
    background-color: var(--projectTheme);
    height: fit-content;
    text-align: left;
    padding: 8px 0;
    margin-bottom: 15px;
    border-radius: 10px;
    /* transition: 0.5s ease-in-out opacity, 0.5s ease-in-out background-color; */
    overflow: hidden;
}
.projects .project:nth-child(even) {
    background-color: var(--projectEvenTheme);
}
.projects .project .purpose {
    color: var(--feintTextColour);
    font-size: 14px;
}

.projects .project .badges {
    display: block;
    margin: auto;
    position: absolute;
    top:5px;
    right:5px;
}
.projects .project .badges a {
    display: inline-block;
    margin: auto;
    width: 35px;
    height: 35px;
    background-image: none;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.projects .project .badges a.github {
    background-image: url("../assets/github-mark-white.png");
    background-color: black;
    /* border-radius: 50%; */
}
.projects .project .badges a.viewonline {
    background-image: url("../assets/open_icon.png");
    background-color: white;
} 

.projects .project .badges a:hover {
    cursor: pointer;
}

.projects .project:hover {
    box-shadow: 0 0 10px aqua;
    background-color: rgba(0, 255, 255, 0.2);
    cursor: pointer;
}

.projects .project .content {
    display: block;
    margin: auto;
    margin-left: 20px;
}

.projects .project_info .languages {
    display: block;
    margin: auto;
    width: fit-content;
}
.projects .project_info {
    text-align: center;
}

.projects .project_info .backBtn {
    display: block;
    margin: auto;
    position: absolute;
    top:0;left:0;
    width: fit-content;
    height: fit-content;
    padding: 10px 36px;
    font-size: 20px;
    border-bottom-right-radius: 15px;
    background-color: var(--primaryButtonTheme);
    border-right: 2px solid var(--primaryButtonBorderTheme);
    border-bottom: 2px solid var(--primaryButtonBorderTheme);
}
.projects .project_info .backBtn:hover {
    background-color: var(--primaryButtonBorderTheme);
    border-right: 2px solid var(--primaryButtonTheme);
    border-bottom: 2px solid var(--primaryButtonTheme);
    cursor: pointer;
}

.languages {
    display: block;
    margin: auto;
}
.languages .language {
    display: inline-block;
    margin: auto;
    background-color: var(--languageBoxTheme);
    padding: 8px;
    margin-right: 5px;
    border-radius: 15px;
}
.languages .language .language_icon {
    display: inline-block;
    margin: auto;
    width: 15px;
    height: 15px;
    vertical-align:text-top;
    border-radius: 50%;
}
.languages .language .language_icon.useIcon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0%;
    background-color: transparent !important;
}

footer {
    display: block;
    margin: auto;
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    background-color: var(--mainTheme);
    padding: 2px 0;
    text-align: center;
}

.webtheme {
    display: block;
    margin: auto;
    position: absolute;
    left: 1%;
}

.webtheme select {
    display: inline-block;
    background-color: var(--mainTheme);
    color: var(--textColour);
}
.webtheme select option {
    color: var(--textColour);
}

.portfolio_navigation {
    display: block;
    margin: auto;
    height: 150px;
    width: 80%;
    margin-top: 15px;
    padding: 12px;
    border-radius: 12px;
    text-align: center;
    transition: 0.5s ease-in-out background-color;
}
.portfolio_navigation .page {
    display: inline-block;
    margin: auto;
    background: var(--pageButtonTheme);
    padding: 8px 24px;
    border-radius: 12px;
    height: 500px;
    width: 350px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: var(--pageButtonThemeBoxShadow);
    transition: 0.3s ease-in-out transform;
    vertical-align: top;
    color: white;
    text-decoration: none;
    cursor: default;
}
.portfolio_navigation .page:any-link:hover {
    background: var(--pageButtonThemeHoverBackground);
    box-shadow: 0 0 10px var(--pageButtonThemeHover);
    cursor: pointer;
    transform: translate(0, -20px);
}

.navigation_bar {
    display: block;
    margin: auto;
    width: 60%;
    background-color: var(--mainTheme);
    padding: 14px;
    border-radius: 12px;
    margin-top: 10px;
    text-align: center;
}
.navigation_bar a {
    display: inline-block;
    margin: auto;
    width: fit-content;
    padding: 4px 24px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    text-decoration: none;
    color: var(--textColour);
}
.navigation_bar a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.project_info .assets {
    display: block;
    margin: auto;
    width: 80%;
}
.project_info .asset {
    display: block;
    margin: auto;
    background-color: var(--secondaryTheme);
    padding: 4px;
    border-radius: 12px;
    margin-bottom: 15px;
}
.project_info .asset img {
    /* width: 100%; */
    max-width: 100%;
    height: auto;
}

.timeline {
    display: block;
    margin: auto;
    position: relative;
    width: 80%;
    background-color: rgba(0,0,0,0.4);
    /* background-color: var(--mainTheme); */
    height: fit-content;
    min-height: 50vh;
    border-radius: 12px;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0 18px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 5px;
    background-color: white;
    top:0; bottom:0;
    left: 50%;
    margin-left: -3px;
}

.timeline .item {
    /* display: block;
    margin: auto;
    position: relative;
    background-color: red;
    width: 150px;
    height: 150px; */
    padding: 12px 42px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.timeline .item::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid var(--secondaryTheme);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline .item.left {
    left: 0;
}

.timeline .item.right {
    left: 50%;
}

.timeline .item.right::after {
    left: -16px;
}

.timeline .item.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.tryout_website_notice {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 15px;
    background-color: var(--mainTheme);
    border-left: 2px solid red;
    border-right: 2px solid red;
    padding: 10px 22px;
    border-radius: 4px;
}
.tryout_website_notice a:has(b) {
    color: white;
    text-decoration: none;
}